In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#loading flight data
flight1 = pd.read_csv('FlightDelayData1.csv')
flight2 = pd.read_csv('FlightDelayData2.csv')

In [3]:
flight1.head()

,Year,Month,DayofMonth,DayOfWeek,Carrier,OriginAirportID,DestAirportID,CRSDepTime,DepDelay,DepDel15,CRSArrTime,ArrDelay,ArrDel15,Cancelled
0,2013,4,19,5,DL,11433,13303,837,-3.0,0.0,1138,1.0,0.0,0.0
1,2013,4,19,5,DL,14869,12478,1705,0.0,0.0,2336,-8.0,0.0,0.0
2,2013,4,19,5,DL,14057,14869,600,-4.0,0.0,851,-15.0,0.0,0.0
3,2013,4,19,5,DL,15016,11433,1630,28.0,1.0,1903,24.0,1.0,0.0
4,2013,4,19,5,DL,11193,12892,1615,-6.0,0.0,1805,-11.0,0.0,0.0

In [4]:
flight2.head()

,Year,Month,DayofMonth,DayOfWeek,Carrier,OriginAirportID,DestAirportID,CRSDepTime,DepDelay,DepDel15,CRSArrTime,ArrDelay,ArrDel15,Cancelled
0,2013,7,15,1,US,11057,14027,2214,-5.0,0.0,2357,-1.0,0.0,0.0
1,2013,7,15,1,US,14307,11057,1859,-6.0,0.0,2105,-24.0,0.0,0.0
2,2013,7,15,1,US,14100,13204,1345,0.0,0.0,1610,-10.0,0.0,0.0
3,2013,7,15,1,US,11057,14843,950,-5.0,0.0,1332,-7.0,0.0,0.0
4,2013,7,15,1,US,11618,11057,635,-7.0,0.0,826,-13.0,0.0,0.0

In [11]:
merger_flight = pd.concat([flight1,flight2],sort = False)

In [12]:
merger_flight

,Year,Month,DayofMonth,DayOfWeek,Carrier,OriginAirportID,DestAirportID,CRSDepTime,DepDelay,DepDel15,CRSArrTime,ArrDelay,ArrDel15,Cancelled
0,2013,4,19,5,DL,11433,13303,837,-3.0,0.0,1138,1.0,0.0,0.0
1,2013,4,19,5,DL,14869,12478,1705,0.0,0.0,2336,-8.0,0.0,0.0
2,2013,4,19,5,DL,14057,14869,600,-4.0,0.0,851,-15.0,0.0,0.0
3,2013,4,19,5,DL,15016,11433,1630,28.0,1.0,1903,24.0,1.0,0.0
4,2013,4,19,5,DL,11193,12892,1615,-6.0,0.0,1805,-11.0,0.0,0.0
5,2013,4,19,5,DL,10397,15016,1726,-1.0,0.0,1818,-19.0,0.0,0.0
6,2013,4,19,5,DL,15016,10397,1900,0.0,0.0,2133,-1.0,0.0,0.0
7,2013,4,19,5,DL,10397,14869,2145,15.0,1.0,2356,24.0,1.0,0.0
8,2013,4,19,5,DL,10397,10423,2157,33.0,1.0,2333,34.0,1.0,0.0
9,2013,4,19,5,DL,11278,10397,1900,323.0,1.0,2055,322.0,1.0,0.0
10,2013,4,19,5,DL,14107,13487,1540,-7.0,0.0,2043,-13.0,0.0,0.0
11,2013,4,19,5,DL,11433,11298,835,22.0,1.0,1035,41.0,1.0,0.0
12,2013,4,19,5,DL,11298,11433,1115,40.0,1.0,1450,20.0,1.0,0.0
13,2013,4,19,5,DL,11433,12892,1935,-2.0,0.0,2140,-7.0,0.0,0.0
14,2013,4,19,5,DL,10397,12451,1625,71.0,1.0,1738,75.0,1.0,0.0
15,2013,4,19,5,DL,12451,10397,1830,75.0,1.0,1955,57.0,1.0,0.0
16,2013,4,19,5,DL,12953,10397,1000,-1.0,0.0,1234,10.0,0.0,0.0
17,2013,4,19,5,DL,11433,12953,725,-3.0,0.0,918,-10.0,0.0,0.0
18,2013,4,19,5,DL,10397,14771,1725,31.0,1.0,1953,38.0,1.0,0.0
19,2013,4,19,5,DL,13204,10397,2030,8.0,0.0,2201,25.0,1.0,0.0
20,2013,4,19,5,DL,13487,12889,655,-3.0,0.0,827,-2.0,0.0,0.0
21,2013,4,19,5,DL,12889,13487,909,7.0,0.0,1415,16.0,1.0,0.0
22,2013,4,19,5,DL,10397,14027,1150,0.0,0.0,1337,19.0,1.0,0.0
23,2013,4,19,5,DL,14027,10397,1430,13.0,0.0,1623,25.0,1.0,0.0
24,2013,4,19,5,DL,13244,10397,1835,4.0,0.0,2054,13.0,0.0,0.0
25,2013,4,19,5,DL,12953,11697,1950,12.0,0.0,2311,-8.0,0.0,0.0
26,2013,4,19,5,DL,10397,12892,1345,15.0,1.0,1549,7.0,0.0,0.0
27,2013,4,19,5,DL,14869,14747,832,-7.0,0.0,940,-6.0,0.0,0.0
28,2013,4,19,5,DL,14747,14869,1020,15.0,1.0,1315,18.0,1.0,0.0
29,2013,4,19,5,DL,10397,10423,1100,0.0,0.0,1235,56.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1359679,2013,10,19,6,DL,14869,10397,1345,NaN,NaN,1920,NaN,0.0,0.0
1359680,2013,10,19,6,DL,11433,10721,1350,NaN,NaN,1544,NaN,0.0,0.0
1359681,2013,10,19,6,DL,10721,11433,1231,NaN,NaN,1442,NaN,0.0,0.0
1359682,2013,10,19,6,DL,14747,12478,700,NaN,NaN,1509,NaN,1.0,0.0
1359683,2013,10,19,6,DL,12478,14747,1500,NaN,NaN,1827,NaN,0.0,0.0
1359684,2013,10,19,6,DL,12266,10397,1357,NaN,NaN,1654,NaN,0.0,0.0
1359685,2013,10,19,6,DL,10397,12266,1450,NaN,NaN,1601,NaN,0.0,0.0
1359686,2013,10,19,6,DL,11433,12953,1945,NaN,NaN,2131,NaN,0.0,0.0
1359687,2013,10,19,6,DL,12953,11433,905,NaN,NaN,1111,NaN,0.0,0.0
1359688,2013,10,19,6,DL,14747,12478,1300,NaN,NaN,2109,NaN,0.0,0.0
1359689,2013,10,19,6,DL,12478,14747,735,NaN,NaN,1039,NaN,0.0,0.0
1359690,2013,10,19,6,DL,11433,10721,1935,NaN,NaN,2123,NaN,0.0,0.0
1359691,2013,10,19,6,DL,10721,11433,913,NaN,NaN,1121,NaN,0.0,0.0
1359692,2013,10,19,6,DL,11433,10397,1630,NaN,NaN,1830,NaN,0.0,0.0
1359693,2013,10,19,6,DL,10397,11433,830,NaN,NaN,1030,NaN,0.0,0.0
1359694,2013,10,19,6,DL,11292,13487,1115,NaN,NaN,1411,NaN,0.0,0.0
1359695,2013,10,19,6,DL,14771,10397,600,NaN,NaN,1332,NaN,0.0,0.0
1359696,2013,10,19,6,DL,10397,14771,2040,NaN,NaN,2300,NaN,0.0,0.0
1359697,2013,10,19,6,DL,12478,14107,1900,NaN,NaN,2131,NaN,1.0,0.0
1359698,2013,10,19,6,DL,14679,12478,630,NaN,NaN,1448,NaN,0.0,0.0
1359699,2013,10,19,6,DL,14869,13487,945,NaN,NaN,1315,NaN,0.0,0.0
1359700,2013,10,19,6,DL,14771,12478,1115,NaN,NaN,1949,NaN,0.0,0.0
1359701,2013,10,19,6,DL,12478,14771,700,NaN,NaN,1025,NaN,0.0,0.0
1359702,2013,10,19,6,DL,10397,13487,2145,NaN,NaN,2322,NaN,0.0,0.0
1359703,2013,10,19,6,DL,12478,14843,855,NaN,NaN,1249,NaN,0.0,0.0
1359704,2013,10,19,6,DL,13204,14869,730,NaN,NaN,1013,NaN,0.0,0.0
1359705,2013,10,19,6,DL,10397,13495,944,NaN,NaN,1018,NaN,0.0,0.0
1359706,2013,10,19,6,DL,10140,10397,1312,NaN,NaN,1807,NaN,0.0,0.0
1359707,2013,10,19,6,DL,10397,13244,1735,NaN,NaN,1757,NaN,0.0,0.0
1359708,2013,10,19,6,DL,10397,13487,1200,NaN,NaN,1337,NaN,0.0,0.0

In [14]:
#dropping some data
merger_flight.drop(['DepDelay','DepDel15','ArrDel15', 'Cancelled', 'Year'],axis = 1, inplace = True)

In [15]:
merger_flight.head()

,Month,DayofMonth,DayOfWeek,Carrier,OriginAirportID,DestAirportID,CRSDepTime,CRSArrTime,ArrDelay
0,4,19,5,DL,11433,13303,837,1138,1.0
1,4,19,5,DL,14869,12478,1705,2336,-8.0
2,4,19,5,DL,14057,14869,600,851,-15.0
3,4,19,5,DL,15016,11433,1630,1903,24.0
4,4,19,5,DL,11193,12892,1615,1805,-11.0

In [17]:
#checking nnumber of missing values
merger_flight.apply(lambda x: sum(x.isnull()),axis=0)

Month                    0
DayofMonth               0
DayOfWeek                0
Carrier                  0
OriginAirportID          0
DestAirportID            0
CRSDepTime               0
CRSArrTime               0
ArrDelay           1377633
dtype: int64

In [22]:
merger_flight['ArrDelay'] = merger_flight['ArrDelay'].replace(np.nan,0)

In [23]:
merger_flight.apply(lambda x: sum(x.isnull()),axis=0)

Month              0
DayofMonth         0
DayOfWeek          0
Carrier            0
OriginAirportID    0
DestAirportID      0
CRSDepTime         0
CRSArrTime         0
ArrDelay           0
dtype: int64

In [24]:
merger_flight.head()

,Month,DayofMonth,DayOfWeek,Carrier,OriginAirportID,DestAirportID,CRSDepTime,CRSArrTime,ArrDelay
0,4,19,5,DL,11433,13303,837,1138,1.0
1,4,19,5,DL,14869,12478,1705,2336,-8.0
2,4,19,5,DL,14057,14869,600,851,-15.0
3,4,19,5,DL,15016,11433,1630,1903,24.0
4,4,19,5,DL,11193,12892,1615,1805,-11.0

In [25]:
#Airport Codes Cleaning
df_Airport = pd.read_csv("Airport Codes Dataset.csv")
df_Airport.head()

   airport_id         city state                                  name
0       10165  Adak Island    AK                                  Adak
1       10299    Anchorage    AK   Ted Stevens Anchorage International
2       10304        Aniak    AK                         Aniak Airport
3       10754       Barrow    AK       Wiley Post/Will Rogers Memorial
4       10551       Bethel    AK                        Bethel Airport

In [35]:
def AirportDesc(Idx):    
    descx = df_Airport.loc[df_Airport.airport_id == Idx]
    return (descx.name + ", " + descx.city + ", " + descx.state).to_string(index=False).lstrip()

lsOrig = merger_flight.OriginAirportID.unique().tolist()
lsDest = merger_flight.DestAirportID.unique().tolist()

lsRouteOr = []
lsRouteDe = []
lsRouteOrName = []
lsRouteDeName = []
lsRouteFq = []
for idOr in lsOrig:
    for idDe in lsDest:        
        if idOr != idDe: 
            Freq = merger_flight.loc[(merger_flight['OriginAirportID'] == idOr) & (merger_flight['DestAirportID'] == idDe)].shape[0]
            if Freq > 0:
                lsRouteOr.append(idOr), lsRouteOrName.append(AirportDescx(idOr))
                lsRouteDe.append(idDe), lsRouteDeName.append(AirportDescx(idDe))
                lsRouteFq.append(Freq)
                
# Create dataframe
Route = {'OrigAirportID': lsRouteOr, 'OrigAirportName': lsRouteOrName, 'DestAirportID': lsRouteDe, 'DestAirportName': lsRouteDeName, 'RouteFreq': lsRouteFq}
dfRoute = pd.DataFrame(Route, columns = ['OrigAirportID', 'OrigAirportName', 'DestAirportID', 'DestAirportName', 'RouteFreq'])
dfRoute = dfRoute.sort_values(by='RouteFreq', ascending=False)
dfRoute = dfRoute.reset_index(drop=True)

print(dfRoute.shape)
dfRoute.head()

(2513, 5)

,OrigAirportID,OrigAirportName,DestAirportID,DestAirportName,RouteFreq
0,14771,"San Francisco International, San Francisco, CA",12892,"Los Angeles International, Los Angeles, CA",9712
1,12892,"Los Angeles International, Los Angeles, CA",14771,"San Francisco International, San Francisco, CA",9655
2,13830,"Kahului Airport, Kahului, HI",12173,"Honolulu International, Honolulu, HI",6982
3,12173,"Honolulu International, Honolulu, HI",13830,"Kahului Airport, Kahului, HI",6938
4,12892,"Los Angeles International, Los Angeles, CA",12889,"McCarran International, Las Vegas, NV",6919

In [36]:
dfRoute.head()

,OrigAirportID,OrigAirportName,DestAirportID,DestAirportName,RouteFreq
0,14771,"San Francisco International, San Francisco, CA",12892,"Los Angeles International, Los Angeles, CA",9712
1,12892,"Los Angeles International, Los Angeles, CA",14771,"San Francisco International, San Francisco, CA",9655
2,13830,"Kahului Airport, Kahului, HI",12173,"Honolulu International, Honolulu, HI",6982
3,12173,"Honolulu International, Honolulu, HI",13830,"Kahului Airport, Kahului, HI",6938
4,12892,"Los Angeles International, Los Angeles, CA",12889,"McCarran International, Las Vegas, NV",6919

In [42]:
#We will be using xgboost to predict flight delay
import sys
!{sys.executable} -m pip install xgboost
from xgboost.sklearn import XGBRegressor
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import mean_absolute_error
from sklearn.externals import joblib
import scipy.stats as st

Requirement already satisfied: xgboost in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (0.90)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from xgboost) (1.17.0)
Requirement already satisfied: scipy in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from xgboost) (1.3.0)
WARNING: You are using pip version 19.3.1; however, version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [43]:
Y = merger_flight.ArrDelay
X = merger_flight.drop(['ArrDelay'],axis=1)

In [44]:
#Applying Ordinal ENcoding to Categoricals
CategLs = ['Month', 'DayofMonth', 'DayOfWeek', 'Carrier', 'OriginAirportID', 'DestAirportID', 'CRSDepTime', 'CRSArrTime'] # Categorical features
for fea in X[CategLs]: # Loop through all columns in the dataframe
    X[fea] = pd.Categorical(X[fea]).codes # Convert to categorical features

#Split data into train and test sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=123)

In [ ]:
one_to_left = st.beta(10, 1)  
from_zero_positive = st.expon(0, 50)

params = {  
    "n_estimators": st.randint(3, 40),
    "max_depth": st.randint(3, 40),
    "learning_rate": st.uniform(0.05, 0.4),
    "colsample_bytree": one_to_left,
    "subsample": one_to_left,
    "gamma": st.uniform(0, 10),
    'reg_alpha': from_zero_positive,
    "min_child_weight": from_zero_positive
}

xgbreg = XGBRegressor(nthread=-1)
rsCV = RandomizedSearchCV(xgbreg, params, n_jobs=1)  
rsCV.fit(X_train, Y_train)
rsCV.best_params_, rsCV.best_score_

clf = XGBRegressor(**rsCV.best_params_)
clf.fit(X_train, Y_train)

print("MAE: %.4f" % mean_absolute_error(Y_test, clf.predict(X_test)))

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[20:02:05] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[20:03:26] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[20:04:46] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[20:06:04] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[20:16:05] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [ ]:
print("MAE: %.4f" % mean_absolute_error(Y_test, clf.predict(X_test)))